<!doctype html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-TX5NGDQM')
    </script>
    <!-- End Google Tag Manager -->

    <!-- Defaults -->
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!-- Primary Meta Tags -->
    <title>CelebrityFanalyzer</title>
    <meta name="description" content="Celebrities Over Analyzed" />
    <meta name="keywords" content="Globe&Citizen, analyze, celebrity, famous, votes, likes, comments, shares, Layer8" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="CelebrityFanalyzer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://celebrityfanalyzer.com/" />
    <meta property="og:image" content="https://celebrityfanalyzer.com/logo.svg" />
    <meta property="og:description" content="Celebrities Over Analyzed" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@celebrityfanalyzer" />
    <meta name="twitter:url" content="https://celebrityfanalyzer.com/" />
    <meta name="twitter:title" content="CelebrityFanalyzer" />
    <meta name="twitter:description" content="Celebrities Over Analyzed" />
    <meta name="twitter:image" content="https://celebrityfanalyzer.com/logo.svg" />
    <meta name="twitter:image:alt" content="CelebrityFanalyzer Logo" />

    <!-- Theme / Favicon -->
    <link rel="icon" type="image/png" sizes="128x128" href="/favicon-128x128.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e54757" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <meta name="apple-mobile-web-app-title" content="CelebrityFanalyzer" />
    <meta name="application-name" content="CelebrityFanalyzer" />
    <meta name="msapplication-TileColor" content="#e54757" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
    <meta name="theme-color" content="#e54757" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WXRPCESYL5"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-WXRPCESYL5')
    </script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TX5NGDQM"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- quasar:entry-point -->
  </body>
</html>
