/* app global css */

html {
  scroll-behavior: smooth;
}

.q-btn-toggle > .q-btn-item {
  border: 1px solid;
  border-radius: 24px !important;
  margin-right: 0.5rem;
}

.q-toolbar {
  min-height: 4rem;
}
