/* app global css */

html {
  font-size: 16px;
  scroll-behavior: smooth;

  @media (max-width: 720px) {
    font-size: 15px;
  }

  @media (max-width: 640px) {
    font-size: 14px;
  }
}

.q-btn-toggle > .q-btn-item {
  border: 1px solid;
  border-radius: 24px !important;
  margin-right: 0.5rem;
}

.q-toolbar {
  min-height: 4rem;
}

.q-field__prefix {
  padding-right: 0;
}

.leaflet-pane {
  z-index: 2 !important;
}

/* Q-Table Custom styles */
.custom-table {
  left: 0;
  right: 0;
  max-height: calc(100vh - 240px);
}

.custom-table .q-table__middle > .q-table > thead > tr {
  background-color: white !important;
  position: sticky !important;
  top: 0;
  z-index: 1 !important;
}
