/* app global css */

html {
  font-size: 16px;
  scroll-behavior: smooth;

  @media (max-width: 720px) {
    font-size: 15px;
  }

  @media (max-width: 640px) {
    font-size: 14px;
  }
}

.q-btn-toggle > .q-btn-item {
  border: 1px solid;
  border-radius: 24px !important;
  margin-right: 0.5rem;
}

.q-toolbar {
  min-height: 4rem;
}

.q-field__prefix {
  padding-right: 0;
}
