# Linter + Prettier workflow
name: ESLint + Prettier

on:
  # Triggers the workflow on push or pull request events for all branches
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "develop", "main" ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '20'
      - name: install
        run: npm install
      - name: ESLint
        run: npm run lint:fix
      - name: Prettier
        run: npm run format
